@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

[contenteditable=true]:empty:not(:focus):before{
  content:attr(data-placeholder);
  color:rgb(156 163 175 / 1);
}
